.navbar{
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 1em;
    height: 100px;
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
}

.item{
    font-size: 25px;
    margin-right: 1em;
    justify-content: center;
    padding-top: 0.5em;
}

.item a{
    color: #FFF;
    text-decoration: none;
}

.item a:hover{
    color:#ffbb33;
}

h1{
    color: #FFF; 
}

.usuario{
    color: #FFF !important; 
}
