.roteiro{
    padding-top: 40px;  
}

.ident{
    position: relative;
}

.roteiros h2{
    text-align: center;
}

.lista{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-block: 1rem;

}